[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nandan/Desktop/|Lenovo_USB_Hard_Drive_88B854535F164B8EBE296D23D9E74D_1.desktop]
row=4
col=0

[/home/nandan/Desktop/home.desktop]
row=7
col=0

[/home/nandan/Desktop/root.desktop]
row=6
col=0

[/home/nandan/Desktop/brave-jonffppiiihbgicafldadgfbmnnhmjpi-Default.desktop]
row=3
col=0

[/home/nandan/Desktop/tmp.desktop]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/nandan]
row=2
col=0

